{% extends 'base.html' %}

{% block head %}
<style>
#item-view li{ display: inline-block; margin: 5px 30px 30px 5px; }

#item-view li .container{ width: auto; }

.item-info{ max-width: 180px;  border-style: groove; }

.item-img{ border: 1px solid #ccc; }

.item-img:hover { border: 1px solid #777; }

.item-img img { width: 148px; height: 148px; }

.item-img .desc { padding: 15px;
    font-style: italic; font-size: 18px;
    text-align: center; color: navy; }

.item-name{ margin-top: 15px; }

</style>
{% endblock %}

{% block body %}
<ul id="item-view">
    {% for item in range(20) %}
    <li>
        <div class="container">
            <div class="row item-info">
                <div class="col-md-12 col-xs-12 item-img">
                    <a href="{{ url_for('home_blue.detail', item_id=item) }}">
                        <img src="{{ url_for('static', filename='img/default_item.png') }}" alt="item-img">
                    </a>
                    <div class="desc">999￥</div>
                </div>
                <div class="col-md-12 col-xs-12 text-center item-name"><a href="#">商品名称</a></div>
                <div class="col-md-12 col-xs-12 text-center"><hr></div>
                <div class="col-md-6 col-xs-6"><small>21:06:54</small></div>
                <div class="col-md-3 col-xs-6"><span id="view_num" class="glyphicon glyphicon-eye-open">104</span></div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}