{% extends 'base.html' %}

{% block head %}
<style>
#item p{ width: 70%; margin-bottom: 35px; }

#item small{ float: right; }

ul{ padding: 0; }
</style>
{% endblock %}

{% block body %}
<ul>
    <li>
        <div class="row placeholders">
            {% for item in items %}
            <div class="col-xs-6 col-sm-3 placeholder" id="item">
                <a href="{{ url_for('home_blue.detail', item_id=item.id) }}">
                    <img src="{{ url_for('static', filename=item.img) }}"
                         width="200" height="200" class="img-responsive" alt="item-img">
                </a>
                <h4><a href="{{ url_for('home_blue.detail', item_id=item.id) }}">{{ item.name }}</a></h4>
                <p>
                    <span class="text-muted">{{ item.price }}тг</span>
                    <small id="view_num" class="text-muted glyphicon glyphicon-eye-open">{{ item.view_num }}</small>
                </p>
            </div>
            {% endfor %}
        </div>
    </li>
</ul>
{% endblock %}
